# Ignore the local data directory entirely (Required by README)
data/

# Ignore Jupyter checkpoint caches
.ipynb_checkpoints/
__pycache__/

# Ignore other unnecessary folders and files
my_experiment_results.zip

# Ignore test images and their predictions
cat-detection/
ali-aligulu_cat-detection/
